.category-wrapper {
  width: 100%;
  height: auto;
  background-color: white;
  display: flex;
  flex-direction: row;
  padding-bottom: 5%;
  margin-bottom: 3%;
}

.category-wrapper__block {
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.category-wrapper__block---image {
  /* width: 80%;
  min-height: 400px;
  height: 400px;
  max-height: 400px;
  align-self: center; */
    width: 100%;
    object-fit:contain;
    align-self: center; 
    max-height: 350px;
    min-height: 350px;
  height: 350px;
    /* background-color: transparent; */
}

.category-wrapper__block---image----container {
  width: 80%;
  min-height: 400px;
  height: 400px;
  max-height: 400px;
  padding-top: 5%;
  align-self: center;
        margin-top: 6%;
        border-radius: 25px;
}

.category-wrapper__block---title {
  display: flex;
  flex-direction: row;
  padding-top: 5%;
  align-items: center;
  
}

.category-wrapper__block---title----vip {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.category-wrapper__block---title----text {
  color: rgba(0, 0, 0, 0.8);
  font-family: "Helvetica Neue", Helvetica, Arial, Helvetica, sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  overflow-wrap: break-word;
  line-height: 24px;
}

.category-wrapper__block---title----price {
  width: 100%;
  background-color: rgb(250, 250, 250);
  padding-left: 10px;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.category-wrapper__block---title----price-----deleted {
  text-decoration: line-through;
  color: rgb(146, 146, 146);
  font-size: 16px;
  line-height: 19.2px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-right: 10px;
}

.category-wrapper__block---title----price-----newer {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.2;
  font-size: 32px;
  font-weight: 500;
  line-height: 36px;
  color: rgb(255, 66, 78);
  padding-right: 10px;
}

.category-wrapper__block---title----price-----discount {
  padding: 1px 5px;
  background-color: rgb(255, 66, 78);
  color: white;
  font-size: 13px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
}

.category-wrapper__block---title----buttonContainer {
  display: flex;
  flex-direction: row;
  margin-top: 5%;
}

.category-wrapper__block---title----button {
  padding: 0px 10px;
  width: 170px;
  height: 50px;
  margin-right: 15px;
  border: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.category-wrapper__block---bottom-image-button {
  /* width: 170px;
  height: 50px;
  margin-right: 15px;
  border: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-self: center; */
}
.category-wrapper__block---title----price-----information------desc {
  display: flex;
  flex-direction: row;
  margin-top: -4px;
  margin-bottom: 25px;
}

.category-wrapper__block---title----price-----information------desc--------title {
  /* width: 110px; */
  min-width: 110px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.category-wrapper__block---title----price-----information------desc--------title-------content {
  margin: 0;
  color: #757575;
  /* width: 110px; */
  text-transform: capitalize;
  flex-shrink: 0;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 16.8px;
}

.category-wrapper__block---title----price-----information------desc--------creator------avatar {
  width: 24px;
  height: 24px;
  border-radius: 25px;
}

.category-wrapper__block---title----price-----information------desc--------creator {
  display: flex;
  flex-direction: row;
  width: 100%;
  /* Remove the quotes around 100% */
  align-items: center;
  /* Remove the quotes around center */
  /* Remove the quotes around center */
}

.category-wrapper__block---title----price-----information------desc--------creator------name {
  font-size: 15px;
  color: black;
  font-weight: 500;
  cursor: pointer;
  padding-left: 3%;
}

.category-wrapper__block---title----price-----information------desc--------color-form {
  width: 30px;
  height: 30px;
}

.category-wrapper__block---sharing {
  padding-top: 3%;
  padding-left: 10%;
  color: rgb(34, 34, 34);
  flex-direction: row;
  display: flex;
  align-items: center;
  width: 60%;
}

.category-wrapper__block---sharing---secondary {
  padding-top: 3%;
  color: rgb(34, 34, 34);
  flex-direction: row;
  display: flex;
  align-items: center;
  width: 50%;
}

.category-wrapper__block---sharing---secondary-----block {
  border-left-color: rgba(0, 0, 0, 0.09);
  align-items: center;
  border-left-style: solid;
  border-left-width: 0.8px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 5%;
  max-height: 20px;
}

.category-wrapper__block---bottom-image {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  width: 100%;
  align-items: center;
}

.user__creator---block----img {
  width: 80px;
  height: 80px;
  border-radius: 50px;
}

.user__creator---block----name-container {
  padding-left: 2%;
  min-height: 80px;
  justify-content: space-between;
}

.user__creator---block {
  display: flex;
  width: 100%;
  flex-direction: row;
}

.user__creator---block----name-title {
  margin: 0;
  font-size: 18px;
  color: rgb(36, 36, 36);
  font-family: "Inter", Helvetica, Arial, sans-serif;
  font-weight: 600;
  line-height: 24px;
}

.category-wrapper__block---title----other----information {
  padding-left: 5%;
}

.footer-wrapper {
  width: 100%;
  height: 200px;
  background-color: white;
  /* margin-bottom: 5%; */
  position: absolute;
  /* bottom: 10px; */
}
